NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/isp-backend
REDIS_URL=redis://127.0.0.1:6379
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
ADMIN_CORS_ORIGIN=http://localhost:3001,https://admin.justfiber.in,https://noc.justfiber.in,https://sales.justfiber.in,https://user.justfiber.in,https://api.justfiber.in
MOCK_EXTERNALS=false
SEED_SUPERADMIN_USERNAME=admin
SEED_SUPERADMIN_EMAIL=admin@justfiber.in
SEED_SUPERADMIN_PASSWORD=Netlayer@1411
CRM_WEBHOOK_SECRET=JAZE_SUPER_SECRET_123
JAZE_API_BASE_URL=https://live.jazenetworks.com/api/v1
JAZE_API_USERNAME=netlayer2
JAZE_API_KEY=replace-with-real-key
SERVICE_CONTROL_PROVIDER=jaze
JAZE_ACCOUNT_ID=netlayer2
JAZE_WEBHOOK_SECRET=some-long-random-string
RADIUS_SQL_HOST=127.0.0.1
RADIUS_SQL_PORT=3306
RADIUS_SQL_USER=radius
RADIUS_SQL_PASSWORD=Radius@123
RADIUS_SQL_DATABASE=radius
RADIUS_REJECT_MESSAGE=Service suspended
RADCLIENT_BIN=radclient
FREERADIUS_CLIENTS_FILE=/etc/freeradius/3.0/clients.conf
FREERADIUS_CLIENTS_AUTOSYNC=true
MIKROTIK_BNG_COA_PORT=3799
MIKROTIK_BNG_COA_SECRET=
USAGE_API_URL=https://live.jazenetworks.com/api/v1
GENIEACS_URL=http://127.0.0.1:7557
GENIEACS_USERNAME=acs
GENIEACS_PASSWORD=acs123
GENIEACS_JWT=replace-with-real-jwt
JWT_SECRET=ISP_SUPER_SECRET
INSTALLER_JWT_SECRET=ISP_SUPER_SECRET
ADMIN_DOMAIN=admin.justfiber.in
SALES_DOMAIN=sales.justfiber.in
NOC_DOMAIN=noc.justfiber.in
USER_DOMAIN=user.justfiber.in
API_DOMAIN=api.justfiber.in
ACS_DOMAIN=acs.justfiber.net
